@model LaptopShop.Data.TaiKhoan

@{
    ViewData["Title"] = "Chi tiết tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center my-4">Thông tin chi tiết #@Model.IdTaiKhoan</h1>

<div class="d-flex justify-content-center">
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 700px; border-radius: 1rem;">
        <div class="card-body">
          
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Họ tên</th>
                        <td>@Model.HoTen</td>
                    </tr>
                    <tr>
                        <th>Mật khẩu</th>
                        <td>@Model.MatKhau</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th>Điện thoại</th>
                        <td>@Model.DienThoai</td>
                    </tr>
                    <tr>
                        <th>Địa chỉ</th>
                        <td>@Model.DiaChi</td>
                    </tr>
                    <tr>
                        <th>Vai trò</th>
                        <td>
                            @{
                                string loaiHienThi = Model.Loai == "Admin" ? "Quản trị viên" : "Khách hàng";
                            }
                            @loaiHienThi
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center mt-4">
                <a class="btn btn-round btn-primary" asp-action="Edit" asp-route-id="@Model.IdTaiKhoan">Sửa</a>
                <a class="btn btn-round btn-info" asp-action="Index">Quay lại</a>
            </div>
        </div>
    </div>
</div>
