@model IEnumerable<LaptopShop.Data.Laptop>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLapTop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdLoaiNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdThongTinNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdThuongHieuNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLapTop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HinhAnh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdLoaiNavigation.IdLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdThongTinNavigation.IdThongTin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdThuongHieuNavigation.IdThuongHieu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLaptop">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLaptop">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLaptop">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
